<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math OCR</title>

    <link href="{{ url_for('static', path='/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}" />

    {% if DEV_MODE %}
    <script type="module" src="{{ DEV_VITE_URL }}/@vite/client"></script>
    <script type="module" src="{{ DEV_VITE_URL }}/src/main.js"></script>
    <script type="module" src="{{ DEV_VITE_URL }}/src/external/mathjax/tex-svg.js"></script>
    {% else %}
    <script type="module" src="{{ url_for('static', path='/bundle/index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/bundle/index.css') }}" />
    {% endif %}
  </head>
  <body>
    <input type="hidden" name="login_url" id="login_url" value="{{ url_for('login') }}" />
    <input type="hidden" name="logout_url" id="logout_url" value="{{ url_for('logout') }}" />
    <input type="hidden" name="analyse_url" id="analyse_url" value="{{ url_for('analyse') }}" />
    <input type="hidden" name="download_url" id="download_url" value="{{ url_for('download') }}" />
    <input type="hidden" name="csrf_url" id="csrf_url" value="{{ url_for('csrf') }}" />
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}" />
    <input type="hidden" name="username" id="username" value="{{ username }}" />
    <div id="app"></div>

    <div id="bottom-sheet"></div>
    <img id="walking-dog-1" src="{{ url_for('static', path='/img/walking-dog-1.gif') }}" alt="walking dog 1" width="50" />
    <img id="walking-dog-2" src="{{ url_for('static', path='/img/walking-dog-2.gif') }}" alt="walking dog 2" width="80" />
  </body>
</html>
