<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <title>Login - Math OCR</title>
    <link href="{{ url_for('static', path='/login.css') }}" rel="stylesheet" />
  </head>

  <body>
    <main>
      <h1>Login</h1>

      <form method="POST" action="{{ url_for('login') }}">
        <input type="text" name="username" placeholder="Username" value="{{ username }}" />
        <input type="password" name="password" placeholder="Password" value="{{ password }}" />

        {% if form_error %}
          {% for error in form_error %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}

        <button type="submit">Login</button>
        <a href="{{ url_for('register') }}">Apply for an account</a>
      </form>
    </main>

    {% include "bottom-sheet.html" %}
  </body>
</html>
