<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <title>Register - Math OCR</title>
    <link href="{{ url_for('static', path='/login.css') }}" rel="stylesheet" />
  </head>

  <body>
    <main>
      <h1>Register</h1>

      <form method="POST" action="{{ url_for('register') }}">
        <input type="text" name="full_name" placeholder="Name" value="{{ full_name }}" />
        <input type="text" name="username" placeholder="Username" value="{{ username }}" />
        <input type="password" name="password" placeholder="Password" value="{{ password }}" />

        {% if form_error %}
          {% for error in form_error %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}

        {% if success_msg %}
          <span id="success-message">{{ success_msg }}</span>
        {% endif %}

        <button type="submit">Register</button>
        <a href="{{ url_for('login') }}">Already have an account?</a>
      </form>
    </main>

    {% include "bottom-sheet.html" %}
  </body>
</html>
