<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Math OCR</title>

    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}" />
    <link href="{{ url_for('static', path='/login.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/favicon.ico') }}" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <main>
      <h1>Register</h1>

      <form method="POST" action="{{ url_for('register') }}">
        <input type="text" name="full_name" placeholder="Name" value="{{ full_name }}" />
        <input type="text" name="username" placeholder="Username" value="{{ username }}" />
        <input type="password" name="password" placeholder="Password" value="{{ password }}" />

        {% if form_error %}
          {% for error in form_error %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}

        {% if success_msg %}
          <span id="success-message">{{ success_msg }}</span>
        {% endif %}

        <button type="submit">Register</button>
        <a href="{{ url_for('login') }}">Already have an account?</a>
      </form>
    </main>

    <div id="bottom-sheet"></div>
    <img id="walking-dog-1" src="{{ url_for('static', path='/img/walking-dog-1.gif') }}" alt="walking dog 1" width="50" />
    <img id="walking-dog-2" src="{{ url_for('static', path='/img/walking-dog-2.gif') }}" alt="walking dog 2" width="80" />
  </body>
</html>
